
Sound-Church/.DS_Store

Sound-Church.xcodeproj/xcuserdata/john.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Sound-Church.xcodeproj/project.xcworkspace/xcuserdata/john.xcuserdatad/UserInterfaceState.xcuserstate
